<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>661566425740-1frdghmo1jes98p2eu6k2eqlpc6382fd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.661566425740-1frdghmo1jes98p2eu6k2eqlpc6382fd</string>
	<key>API_KEY</key>
	<string>AIzaSyDO-BAYl0dkcoBY8K59oHFF7TCVKzZo1KI</string>
	<key>GCM_SENDER_ID</key>
	<string>661566425740</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apps-test-notification.testNnotification</string>
	<key>PROJECT_ID</key>
	<string>test-ios-af7d7</string>
	<key>STORAGE_BUCKET</key>
	<string>test-ios-af7d7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:661566425740:ios:e58cb078013b0c1ffd49a9</string>
</dict>
</plist>